*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
  width: 70%;
}

img {
  max-width: 30%;
  float: left;
  position: relative;
}

figure {
  margin: 0;
}

.film {
  width: 50%;
  height: 300px;
  margin: 40px auto;
}

.film-poster
{
  float: left;
  overflow: hidden;
  border: 1px solid grey;
  display: inline;
  padding: 15px;
}

.film-details
{
  float: right;
  width: 60%;
  height: 100%;
  position: relative;
  right: 40px;
  bottom: 320px;
}

.action-watch-later
{
  display: inline-block;
  position: relative;
  top: 7px;
  right: 35px;
  color: red;
}

.action-like
{
  float: right;
  color: red;
  position: absolute;
  bottom: 0;
  right: 0;
}

.film
{
  clear: both;
}
